aiohttp
beautifulsoup4
hachoir
numpy
Pillow
Pyrogram
moviepy
requests
psutil
tgcrypto
youtube-dl
yt-dlp
olefile
sqlalchemy==1.3.23
psycopg2-binary
aria2p
git+https://github.com/prgofficial/YouTubeDL
ffmpeg-python
pyfiglet==0.8.post1
requests-unixsocket==0.2.0
tqdm==4.60.0
PyDrive
